[submodule "code-poetry/solidity/useless/lib/forge-std"]
	path = code-poetry/solidity/useless/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "call/call/lib/forge-std"]
	path = call/call/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
